#calculator {
    width: 200px;
    background-color: #F6E9F8;
    box-shadow: 6px 6px 8px lightgrey;
}

.operator:hover {
    background-color: lightgrey;
}

.operator:focus {
    background-color: cyan;
}

.final {
    background-color: #F9F0C0;
}